{% extends "base.html"%}
{% load static %}
{% block main %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <div>
        <main class="col-md-12 ms-sm-auto col-lg-12">
            <div class="container mt-4">
                <p>Modifier</p>
                <hr>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}           
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Image</label>
                                <input type="file" class="form-control" id="image"  placeholder="Image" name="image" accept=".png, .jpg, .jpeg"  autocomplete="off" value="{{product.image}}" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Nom</label>
                                <input type="text" class="form-control" placeholder="Entrez le nom du produit"  name="name" id="name" autocomplete="off" value="{{product.name}}" required>
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="mb-2">
                                <label for="exampleFormControlInput1" class="form-label">Price</label>
                                <input type="number" class="form-control" placeholder="Le prix" name="price" value="{{product.price}}" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Date</label>
                                <input type="datetime-local" class="form-control" id="created_at"  name="created_at" autocomplete="off" value="{{product.icreated_at}}" required>
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary w-100" name="update">Modifier</button>
                    
                </form>
            </div>
        </main>
    </div>
</body>
</html>
{% endblock main %}